.complete {
    text-align: center;
    background-color:rgb(219, 109, 30);
    color: black;
    padding: 50px;
    font-size: 25px;
}
.option {
    text-align: center;
    padding: 10px;
    background-color: gold;
}
.option a {
    margin: 10px;
    text-align: center;
    color:green;
    padding: 10px;
    text-decoration: none;
    font-weight: 800;
}
.content {
    background-color: gold;
    padding: 15px;
}
.content h2 {
    color: black;
    font-size: 35px;
    font-weight: 700;
}
.content p {
    color: rgb(118, 18, 18);
}


